<div class="navbar-gradient-wrapper">
<div class="top-row ps-3 navbar navbar-dark" style=" height: auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images\excelligence-logo.jpg" alt="Company Logo" class="navbar-logo"> <!-- Adjust the height as needed -->
        </a>
    </div>
    <label for="nav-toggler" class="navbar-toggler" onclick="toggleNav()"></label>
    <input type="checkbox" id="nav-toggler" title="Navigation menu" class="navbar-toggler" hidden />
</div>


<div class="nav-scrollable" onclick="document.getElementById('nav-toggler').checked = false;">
    <!-- Navigation links -->
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="onboarding">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Onboarding
            </NavLink>
        </div>
<!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataDownload">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Data Download
            </NavLink>
        </div> -->
    </nav>
</div>
</div>