.xml-preview[b-odr248x7n1] {
    font-family: monospace;
    white-space: pre-wrap;
}

.xml-element[b-odr248x7n1] {
    color: #228B22; /* Green for elements */
}

.xml-attribute[b-odr248x7n1] {
    color: #0000FF; /* Blue for attributes */
}

.xml-text[b-odr248x7n1] {
    color: #A52A2A; /* Brown for text nodes */
}
/* Styles specific to Upload component */
h3[b-odr248x7n1] {
    font-family: 'Roboto', sans-serif;
    color: #0056b3; /* Deep blue, similar to Home page header for consistency */
    font-weight: 600; /* Slightly less weight than the main page header */
    margin-bottom: 1rem;
}

p[b-odr248x7n1] {
    font-family: 'Roboto', sans-serif;
    color: #333; /* Dark grey for easy reading */
    line-height: 1.6; /* Increased line height for readability */
    margin-bottom: 1rem;
}

strong[b-odr248x7n1] {
    font-weight: 500; /* Medium weight for emphasis, ensures legibility */
    color: #0056b3; /* Use the same blue for strong emphasis, adjust if needed */
}

/* Optional: If you have links within your paragraph, style them for visibility */
a[b-odr248x7n1] {
    color: #007bff; /* Bootstrap default blue for links, adjust if needed */
    text-decoration: underline; /* Ensures links are recognizable */
}

    a:hover[b-odr248x7n1] {
        color: #0056b3; /* Darker blue on hover for interaction feedback */
    }

/* Add responsiveness to the onboarding section for better mobile viewing */
@media (max-width: 768px) {
    p[b-odr248x7n1] {
        max-width: 100%; /* Ensure the paragraph doesn't exceed the container width */
    }
}
