@page "/"
@using Microsoft.AspNetCore.Http
@using System.IO

<PageTitle>HOME PAGE</PageTitle>

<div class="container">
    <h1>Welcome to the Excelligence Client Onboarding Portal</h1>
    <p>This internal application is designed to streamline the process of integrating new clients into our systems. As Excelligence continues to grow, this tool plays a crucial role in enhancing our operational efficiency by automating the onboarding process.</p>

    <h2>Features and Benefits</h2>
    <p>This application allows for quick updates to our databases with new customer information, <strong>saving valuable time</strong> and resources. The platform is continually evolving, with regular updates to improve functionality and address the dynamic needs of our organization.</p>

    <h2>Feedback and Suggestions</h2>
    <p>We are committed to making the Excelligence Client Onboarding Portal as effective and user-friendly as possible. Your feedback is invaluable to us. For suggestions on improvements or to request additional features, please contact the developer at <a href="mailto:sespinoza@excelligence.com">sespinoza@excelligence.com</a>.</p>

</div>
<!-- FOR TESTING PURPOSES ONLY, SHOWS SCREEN WIDTH AND HEIGHT-->
<!-- <div id="windowSize" style="position: fixed; bottom: 0; right: 0; background-color: lightgrey; padding: 10px; z-index: 2000;">
    Window Size: <span id="width"></span> x <span id="height"></span>
</div>-->
@code {
    

}